{% block kategoriat %}

	<div class="panel panel-default">
  	<div class="panel-heading">
    <h3 class="panel-title">Kategoriat</h3>
  	</div>
  	<div class="panel-body">
    	{% for category in categories %}
  			<a  class="list-group-item" href="{{ path_for('courses.show', { category: category}) }}">{{ category }}</a>
  		{% endfor %}
  	</div>
	</div>

{% endblock %}
