{% block ravintolat %}

    <div class="panel panel-default">
  	<div class="panel-heading">
    <h3 class="panel-title">Ravintola info</h3>
  	</div>
  	<div class="panel-body">
        <a href="#" class="list-group-item">Fuuga - Musiikkikampus</a>
        <a href="#" class="list-group-item">Sodexo - Tietotalo</a>
        <a href="#" class="list-group-item">Radis - Pääkampus</a>
        <a href="#" class="list-group-item">Bittipannu - Dynamo</a>
        <a href="#" class="list-group-item">Sodexo - Mattilanniemi</a>
        <a href="#" class="list-group-item">Rajacafé - Pääkampus</a>
  	</div>
	</div>

{% endblock %}