{% block testi %}



    <div class="panel panel-default">
  	<div class="panel-heading">
    <h3 class="panel-title">Suosituimmat</h3>
  	</div>
  	<div class="panel-body">
    	{% for course in courses %}
  			<a  class="list-group-item" href="{{ path_for('details.show', { course: course.course_name }) }}">{{ course.course_name }}</a>
  		{% endfor %}
  	</div>
	</div>

{% endblock %}