{% extends 'layouts/app.twig' %}
	

{% block content %}

	<h1> {{ course.course_name }} </h1>

	<ul>
    	
    	Id: {{ course.id }} <br>
    	Category: {{ course.category }} <br>
    	Count: {{ course.count }} <br>

	</ul>

{% endblock %}
