{% extends 'layouts/app.twig' %}
	

{% block content %}

	<h1>Top Courses</h1>

	<ul>
    	{% for course in courses %}
    	    <li><a href="{{ path_for('details.show', { course: course.course_name }) }}">{{ course.course_name }}</a></li>
    	{% endfor %}
	</ul>

{% endblock %}
