body {
	
	background-color: #8ec7ff;
	font-family: sans-serif;
	color: #262626;
}

.navbar-header {
	vertical-align: middle;
}

ul.nav.navbar-nav.navbar-right {
	margin-right: 0px;
}

h1 {
	color: black;
}

a {
	color: black;
}

a:hover {
	color: white;
}



