{% extends 'layouts/app.twig' %}

{% block title %}Sodexo Lunch{% endblock %}


{% block content %}

	<div class="row">

	  <div class="col-md-4">
	  	<h2>Lunch Today</h2><hr>
	  	<h4>Fuuga - Musiikkikampus</h4>
	  	<h4>Sodexo - Tietotalo</h4>
	  	<h4>Radis - Pääkampus</h4>
	  	<h4>Bittipannu - Dynamo</h4>
	  </div>

	  <div class="col-md-4">
	  	<h2>Popular</h2><hr>
	  	<ul>
    	{% for course in courses %}
    	    <li><a href="{{ path_for('details.show', { course: course.course_name }) }}">{{ course.course_name }}</a></li>
    	{% endfor %}
	</ul>
	  </div>

	  <div class="col-md-4">
	  	<h2>Category</h2><hr>

	  </div>

	</div>

{% endblock %}

