{% extends 'layouts/app.twig' %}

{% block title %}Sodexo Lunch{% endblock %}


{% block content %}

<div class="row">
	<div class="col-md-4">
		{% include 'templates/ravintolat.twig' %}
	</div>

	<div class="col-md-4">
		{% include 'templates/ruokalajit.twig' %}
	</div>

	<div class="col-md-4">
	  	{% include 'templates/kategoriat.twig' %}
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		{% include 'templates/ruokalajit.twig' %}
	</div>

	<div class="col-md-4">
		{% include 'templates/ravintolat.twig' %}
	</div>

	<div class="col-md-4">
	  	<h2>Arvostelut</h2><hr>
	  	<h4>Chatting..</h4>
	</div>
</div>


{% endblock %}

