{% extends 'layouts/app.twig' %}

{% block title %}Home{% endblock %}

{% block courses %}

	<h3><a href="{{ path_for('courses') }}"> Ruokalajit</a></h3>

{% endblock %}	

{% block categories %}

	<h3><a href="{{ path_for('categories') }}"> Kategoriat</a></h3>

{% endblock %}	