{% extends 'layouts/app.twig' %}

{% block title %}{{ category }}{% endblock %}

{% block content %}
	<div class="courseByCategory">
	
	{% for course in courses %}
	
			<h4>{{ course }}</h4>
			
	{% endfor %}
	
	</div>
{% endblock %}

